.button {
     -fx-background-color: linear-gradient(to bottom, #503774, #645087, #785aa6);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3a2c4f;
}

.vbox {
    -fx-background-color: #f5f5f5;
    -fx-padding: 30;
    -fx-alignment: center;
}

.label {
    -fx-font-size: 24px;
    -fx-font-weight: 900;
    -fx-text-fill: linear-gradient(to bottom, #503774, #645087, #785aa6);
}
